@import url("reset.css");

body {
    font-size: 14px;
    line-height: 28px;
    font-family: sans-serif;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -icab-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

#game {
    width: 700px;
    margin: auto;
}

.room {
    border: 1px solid black;
    padding: 7px;
    background-color: steelblue ;
    display: block;
    position: relative;
    margin: 7px;
}

.roomname {
    border: 1px solid black;
    padding: 7px;
    background-color: lavenderblush;
    font-weight: bold;
    display: block;
    position: relative;
    margin: 7px;
}

.dealer {
    border: 1px solid black;
    padding: 7px;
    background-color: lemonchiffon;
    display: block;
    position: relative;
    margin: 7px;
}

.dealername {
    padding: 7px;
    display: block;
    position: relative;
    font-weight: bold;
    margin: 7px;
}

.status {
    border: 1px solid black;
    padding: 7px;
    background-color: #A5A5EE;
    display: block;
    position: relative;
    margin: 7px;
}

.event {
    border: 1px solid black;
    padding: 7px;
    background-color: #e6e6fa;
    display: block;
    position: relative;
    margin: 7px;
    width: 115px;
    text-align: center;
}

.card {
    border: 1px solid black;
    padding: 7px;
    background-color: #888;
    display: inline-block;
    position: relative;
    margin: 7px;
    width: 115px;
    text-align: center;
}

.hearts, .diamonds {
    background-color: #b22222;
}

.spades, .clubs {
    background-color: black;
    color: white;
}


.players, #players {
    border: 1px solid black;
    padding: 7px;
    background-color: peachpuff;
    display: block;
    position: relative;
    margin: 7px;
}

.player, #players .player {
    border: 1px solid black;
    padding: 7px;
    background-color: papayawhip;
    display: inline-block;
    position: relative;
    margin: 7px;
    width: 290px;
    text-align: center;
}

#players .player {
    width: 137px;
}

.playername {
    border: 1px solid black;
    padding: 7px;
    display: block;
    position: relative;
    font-weight: bold;
    margin: 7px;
    background-color: mistyrose;
}